.desktop {
  display: none;
}

.mobile {
  display: initial;
}

aside {
  overflow: inherit;
  height: 125px;
}

aside nav li {
  position: relative;
  display: inline-block;
  height: 66px;
  padding: 0 20px;
  line-height: 70px;
}

aside nav li i {
  color: #fff;
  font-size: 30px;
}

aside nav li ul {
  position: absolute;
  width: 250px;
  right: 0;
  background-color: rgba(10,10,10, .9);
  opacity: 0;

  transition: all 1s ease;
}

aside nav li:hover ul {
  opacity: 1;
}

aside nav li ul li {
  display: block;
  margin: 0;
  padding: 0 20px;
}

section.container {
  width: 100%;
  padding: 0;
}

.home-picture,
.content-inner {
  width: 100%;
  height: auto;
  margin: 0;
}