* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url(programming.jpg);
  background-size: cover;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 16px;
}

h1, h2 {
  margin: 0;
  font-weight: normal;
}

aside {
  background-color: rgba(30, 30, 30, .75);
  color: white;
  width: 30%;
  height: 100%;
  text-align: right;
  padding-top: 60px;
  padding-right: 30px;
}

aside header {
  margin-bottom: 40px;
}

aside header h1,
aside header h2 {
  text-transform: uppercase;
}

aside header h1 {
  letter-spacing: 5px;
  margin-bottom: 15px;
}

aside header h2 {
  letter-spacing: 3px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: 25px;
  line-height: 25px;
}

nav ul li a i {
  position: relative;
  top: 2px;
}

nav ul li i {
  font-size: 20px;
  margin-left: 15px;
}